<a href="https://colab.research.google.com/github/dewaphasya/Tugas-12-phyton/blob/main/12phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
d = int(input("Masukkan jarak dalam kilometer: "))
fc = int(input("Masukkan frekuensi 400MHz-2000MHz: "))
area = input("masukkan tipe area: ")
ht = int(input("Masukkan tinggi antena pemancar 30-200 meter: "))
hr = int(input("Masukkan tinggi antena penerima 1-30 meter: "))

Masukkan jarak dalam kilometer: 120
Masukkan frekuensi 400MHz-2000MHz: 450
masukkan tipe area: suburban
Masukkan tinggi antena pemancar 30-200 meter: 40
Masukkan tinggi antena penerima 1-30 meter: 12

In [ ]:
NtL = lambda x: 10*np.log10(x)

In [ ]:
LtN = lambda x: 10**(x/10)

In [ ]:
def csatu (Y):
  if Y in range (400,1500):
    return 69.55
    
  elif Y in range (1500,2000):
    return 46.3

In [ ]:
def cdua (Y):
  if Y in range (400,1500):
    return 26.16
    
  elif Y in range (1500,2000):
    return 33.9

In [ ]:
def cm (area,fc):
  if area == "urban":
    return 0
  if area == "suburban":
    return -2*(np.log10(fc/28)**2 - 5.4)
  if area == "open":
    return -4.78*(np.log10(fc))**2 + 18.33*np.log10(fc)- 40.94

In [ ]:
def ahr(Y):
  return (1.1*np.log10(Y)-0.7)*hr - (1.56*np.log10(Y)-0.8)

In [ ]:
c1 = csatu(fc)
c2 = cdua(fc)
cm = cm(area,fc)
ahr = ahr(fc)

In [ ]:
print(c1)
print(c2)
print(cm)
print(ahr)

69.55
26.16
7.890865170805937
23.283393660345

In [ ]:

pldb = c1 + c2*np.log10(fc) - 13.83*np.log10(ht) - ahr + (44.9-6.55*np.log10(ht))*np.log10(d) + cm
print("Pathloss adalah: ", pldb , " db")

Pathloss adalah:  172.94638540526586  db